body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation {
    background-color: rgba(0, 119, 167, 0.767);
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#navigation .menu {
    display: flex;
    gap: 20px;
}

#title-section {
    height: 400px;
    width: 100%;
    padding: 20px 0px;

    background: url("/dist/images/banner.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-section h1,
#title-section h3,
#title-section h6 {
    color: white;
    text-transform: uppercase;
}